<%form_tag({:action => 'copy', :id =>  @old_mod, :type => @old_mod.class} , {:multipart => true})  do %>
 <fieldset> 
 <h3>Copy <%= h@old_mod.module_title%></h3>
    <%= show_form(@mod.class.to_s)%>
<div id="submit_button">
	<%= submit_tag 'Copy', :class => "submit" %>  
	<p><%= link_to 'Cancel', :action => 'index',:id => @mod, :type =>@mod.class, :list => 'mine', :sort => 'name' %></p>
</div>
</fieldset> 
<% end %>


 <%=render :partial => 'side_bar'%>