- flash_notice

.row
  .span12
    = link_to '/module/new_mod', class: 'btn btn-primary' do
      %i.icon-plus
      Create New Module

.row
  .span12= render "#{ @list == 'mine' ? 'mods' : 'global' }_list"
