<fieldset>
	<h3> Preview <%=@mod.label%></h3>
<div id="boxes">
	<div class="item">
		<div class ="item2">
			<%= show_mod(@mod)%>
		    <div class="bot"><div></div></div>
		</div>
	</div>
</div>
 <%=render :partial => 'side_bar'%>
 </fieldset>