.#*
\#*
.bundle
.idea
.ruby-version
config/database.yml
console/
db/*.sqlite3
lib/import_wiki.rb
log
public/css/
public/dashboard-ui/dashboard.js*
public/dashboard-ui/index.html
public/dashboard-ui/node_modules
public/dashboard-ui/app/vendor/angular-bootstrap
public/dashboard-ui/app/vendor/angular-dragdrop
public/dashboard-ui/app/vendor/angular-ui-bootstrap
public/dashboard-ui/app/vendor/jquery-ui
public/files/
public/images/
public/photos/
public/uploads/
solr
tmp/
