.control-group
  %label.control-label{ for: 'mod_module_title' }
    Private Label
    %span.required *
  .controls
    = text_field :mod, :label, :class => 'input-xlarge'
    &nbsp;
    %i.icon-question-sign{ :data => { :content => 'This is a unique descriptive label for the module. This is the name the module will be listed under in the tool.', :html => 'true', :trigger => 'hover' } }

.control-group
  %label.control-label{ :for => "page_course_name" }
    Module Title
    %span.required *
  .controls
    = text_field :mod, :module_title, :class => 'input-xlarge'
    &nbsp;
    %i.icon-question-sign{ :data => { :content => 'This is the module\'s title that will appear to the public.<br/><br/> Shorter titles should be used in two column layouts.', :html => 'true', :trigger => 'hover' } }

.control-group
  %label.control-label{ :for => "tag_list" }
    Tags
  .controls
    = text_field :mod, :tag_list, :class => 'input-xlarge'
    &nbsp;
    %i.icon-question-sign{ :data => { :content => 'Tags are keywords that highlight content on the module or organize the modules into a category.<br/><br/>Tips: Seperate individual tags with a comma. Only add 3-5 tags.', :html => 'true', :trigger => 'hover' } }
    .small.muted
      examples: WR101, Databases, Writing

:javascript
  $('.icon-question-sign').popover();
