%ul.nav.nav-pills.nav-stacked
  %li{ :class => current_page?(edit_node_path(@mod)) && "active" }
    = link_to 'Edit Module', edit_node_path(@mod)
  %li{ :class => current_page?(manage_node_path(@mod)) && "active" }
    = link_to 'Add to / Used on', manage_node_path(@mod)
  %li{ :class => current_page?(share_node_path(@mod)) && "active" }
    = link_to 'Share Module', share_node_path(@mod)
  %li{ :class => current_page?(new_node_path) && "active" }
    = link_to 'Create new module', new_node_path
