<div class="container">
  <div class="row">
    <div class="span8">
      <h2>Browse Tutorials</h2>

      <dl>
        <% subjects.each do |subject| %>
          <dt>
            <%= link_to h(subject.subject_code + " : " + subject.subject_name + " " + "Tutorials"),
                        :controller => "ort",
                        :action => "subject_list",
                        :id => subject %>
          </dt>
          <dd>
            <dl>
              <% subject.get_tutorials.each do |tutorial| %>
                <%= render :partial => "shared/list_page",
                           :locals => { :page => tutorial,
                                        :controller => "ort" } %>
              <% end %>
            </dl>
          </dd>
        <% end %>

        <% tutorials do |tutorial| %>
          <%= render :partial => "shared/list_page",
                     :locals => { :page => tutorial,
                                  :controller => "ort" } %>
        <% end %>
      </ul>
    </div>

    <div class="span4">
      <%= render :partial => "shared/right_sidebar" %>
    </div>
  </div>
</div>
