<div class="container">
  <div class="row">
    <div class="span8">
      <h2>Browse Guides</h2>

      <% if guides %>
        <dl>
          <% for guide in guides %>
            <%= render :partial => "shared/list_page",
                       :locals => { :page => guide,
                                    :controller => "srg" } %>
        </dl>
      <% else %>
        <p>
          Sorry, there are no guides available.
        </p>
      <% end %>
    </div>

    <div class="span4">
      <%= render :partial => "shared/right_sidebar" %>
    </div>
  </div>
</div>
