- content_for :table_of_contents do
  %ul
    %li
      %a{ :href='#about-this-tutorial' }
        About this tutorial
   - unless @tutorial.unitizations.blank?
      %li
        %a{ :href='#tutorial-units' }
         Units in this tutorial

- content_for :unitizations do
  - @tutorial.unitizations.each do |uz|
    - unit = uz.unit
    - resources = unit.resourceables
      %h2
        = raw unit.title
      %p
        = raw unit.description
      - unless resources.blank?
        - resources.each do |resable|
          - show_mod(resable.resource.mod)

- content_for :footer do
  = link_to 'Full version' , { :action => 'index', :id => @tutorial }

= render :partial => 'ort/index'
