- content_for :additional_toc do
  %li
    %a{ :href => '#browse-guides'}
      Browse Guides

- content_for :additional_browsing do
  %section#browse-guides
    %h2
      Browse Guides
    %dl
      - @guides.each do |guide|
        = render :partial => 'shared/list_page', :locals => { :controller => 'srg', :mobile => true, page => guide }

- content_for :additional_resources do
  None.

- content_for :footer do
  = link_to 'Full version' , { :action => 'tagged' }

= render :partial => 'shared/mobile_published_page_results', locals => { :controller => 'ort', :header_title => @local.tutorial_page_title, type => 'Tutorials', pages => @tutorials }
