- content_for :additional_resources do
  None.

- content_for :footer do
  = link_to 'Full version' , { :action => 'subject_list' }

- type = subject.subject_code + ' : ' + @subject.subject_name + ' Tutorials'
= render :partial => 'shared/mobile_published_page_results', locals => { :controller => 'ort', :header_title => type, type => type, pages => @tutorials }
