<% content_for :tab_headings do %>
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tutorial-list" data-toggle="tab">Browse Tutorials</a>
    </li>
    <li>
      <a href="#guide-list" data-toggle="tab">Browse Guides</a>
    </li>
  </ul> <!-- end nav-tabs -->
<% end %>

<% content_for :tab_content do %>
  <div id="tutorial-list" class="tab-pane active">
    <%= render :partial => "browse_tutorials",
               :locals => { :subjects => @subjects,
                            :tutorials => @tutorials } %>
  </div>

  <div id="guide-list" class="tab-pane">
    <%= render :partial => "browse_guides",
               :locals => { :guides => @guides } %>
  </div>
<% end %>

<%= render :partial => "shared/tabbed_index",
           :locals => { :header_title => @title } %>
