<% content_for :search_results do %>
  <h2>
    Browse
    <%= @subject.subject_code+" : " + @subject.subject_name + " " + "Tutorials" %>
  </h2>

  <% if @tutorials %>
    <dl>
      <% @tutorials.each do |tutorial| %>
        <%= render :partial => "shared/list_page",
                   :locals => { :page => tutorial,
                                :controller => "ort" } %>
      <% end %>
    </dl>
  <% else %>
    <p>
      Sorry, no tutorials found.
    </p>
  <% end %>

  <p>
    <a href="/tutorials/">
      <i class="icon-circle-arrow-left icon-large"></i>
      Back to all Tutorials</a>
  </p>
<% end %>

<%= render :partial => "shared/published_page_results",
           :locals => { :header_title => @local.tutorial_page_title } %>
