= render :partial => 'ort/top'

.container
  %h2
    End of
    = @tutorial.full_name

  - if @tutorial.graded == true
    %p
      You have completed this tutorial.  You may return to this tutorial at any time to review the material, but you may not re-take the quizzes. You may view your quiz results any time by clicking on
      = link_to 'My Quizzes', {:controller => :student, :action => :quizzes, :id => @tutorial}
  - else
    %p
      You have completed this tutorial.

  %p
    Thank you!

  %p
    %a{ :href => '/tutorials/' }
      %i.icon-circle-arrow-left.icon-large
      Back to all Tutorials
