<fieldset>
	<h2>Customizations</h2>
	<p><% for local in @locals%>
	
	   <% for column in Local.content_columns %> 
         <%unless local.send(column.name) == nil ||  local.send(column.name) == ""%><b><%= column.human_name %>:</b>  <%=h local.send(column.name) %> <br /><%end%>
	  <%end%>
	<%end%>
	</p>
	<p><%= link_to "Edit Template" , :controller => 'admin', :action => 'customize_layout'%> | <%= link_to "Edit Search" , :controller => 'admin', :action => 'customize_search'%></p>
	
</fieldset>