div.module{
padding: 0px 30px 15px 12px;
margin: 2px 0 10px 0;
font-size: 14px;
line-height: 15px;
background: #ffffff;
}

* html div.module{ /* for IE 6 */
padding: 1px 30px 15px 12px;
}

div.module ul:last-child{
margin: 0;
}

div.module ul{
list-style-type:disc;
margin: auto;
padding: auto;
list-style-position: outside;
}

div.module ul.undeco {
margin: 0 0 .5em .8em;
padding: 0;
list-style: none outside;

}

div.module ul.rss-items{
list-style: none outside;
margin: 0 0 0 0;
padding: 0;
}

div.module li.rss-item{ margin-bottom:8px ; }

span.title {
font-size: 18px;
line-height: 20px;
font-weight: 700;
margin: 0px -30px 12px -12px;
padding: 0px 0px 0px 12px;
display:block;
}	