.tag > a {
    color: #fff;
}
.tag > a:hover, .tag > a:focus {
  text-decoration: none;
}

.nav-tabs > .selected > a,
.nav-tabs > .selected > a:hover,
.nav-tabs > .selected > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.guide_list > ul, .subject_list > ul {
    margin-left: 25px;
}

.white-well {
    background-color: #fff;
}
