.tag > a {
    color: #fff;
}
.tag > a:hover, .tag > a:focus {
  text-decoration: none;
}

/* Tabbed content */

.nav-tabs > .selected > a,
.nav-tabs > .selected > a:hover,
.nav-tabs > .selected > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.tab-content > .selected {
  display: block;
}
.tabs-left > .nav-tabs > li > a.selected,
.tabs-left > .nav-tabs > li > a.selected:hover,
.tabs-left > .nav-tabs > li > a.selected:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.guide_list > ul, .subject_list > ul {
    margin-left: 25px;
}

/* Boxes */

.white-well {
    background-color: #fff;
}
