#container {float: left; height: 1%;}
#left, #right {float: left; height: 100%;}
#right {float: none;}
#left .item {width: 245px;}
#left .item, #left .item2 {background-image: url(/images/template/leftBox.gif);}
#left .module {width: 245px;}
#left {padding-top: 25px;}
#tl {margin-top: 22px;}

#right h2 {margin: 0 0 10px -20px; height: 32px;}
#right .module {line-height: 20px; text-indent: 0; margin-right: 0;}
#right .module h2 {width: 90%; margin: 0 0 20px 0;}
#right {word-wrap: break-word;}
#tabs a {width: .1em; white-space: nowrap;}
#tabs > li a {width: auto;}

#boxes .item {padding-right: 10px;}
#boxes h2 {margin: 0 0 0 -10px; height: auto;}
#boxes .bot {margin: -8px 0 20px -10px; padding-top: 1px;}
#boxes .module {margin: 0 -10px 0 -10px; width: 100%; padding-bottom: 0; border-bottom: 1px solid #f3f3f3;}

#boxes img {max-width: 320px; width: expression(this.width > 320 ? 320: true);}

#wrapper {padding-right: 20px;}
#update {margin-right: -11px;}

.undeco, #left ul {margin-left: 0; width: 100%;}

#leftColumn {width: 96%; margin: 0 0 0 -20px; padding: 0 0 0 20px;}

/* Browse by Subject page */
#browse .item {margin: 4px 310px 10px 0;}
#browse .sides, #browse #content {float: left; height: 100%;}
#browse .sides {width: 265px;}
#browse .right {width: 300px; float: right;}

#browse .sides .item {background-image: url(/images/template/leftBox.gif);}
#browse .sides {padding: 20px 10px 10px;}
#browse .right {padding: 0 10px 10px;}
#browse .right .item, #browse .right .item2 {background-image: url(/images/template/wideBox.png);}
#browse .right .item2 {padding: 0 0 6px;}
#browse .module {border-bottom: 1px solid #fff;}
#browse .right h2 {padding: 8px 0 2px;}

#browse h1 {margin: 20px 0 20px 10px;}
#browse .bot div {right: -13px;}

#search {top: 115px;}