    <div id="contact_actions">
      <%=link_to 'Edit Contact Module', {:controller => 'module', :action => 'edit_content', :id => @mod, :type => @mod.class}%>
      |
      <a href="#" onclick="$('hide').toggle();; return false;">Select New Contact Module</a>
      <span class = 'more_help'  onMouseover="fixedtooltip(NEW_CONTACT_MSSG, this, event, '125');" onMouseout="delayhidetip();"><%= image_tag("icons/small_help.png", :alt => 'Tip', :border => 0)%></span>
    </div>

    <div id="boxes">
      <div class="item">
  <div class ="item2">
    <%= show_mod(@mod)%>
    <div class="bot"><div></div></div>
  </div>
      </div>
    </div>
