%h2= h @mod.module_title
.module
  - unless @mod.description.blank?
    = @mod.description
  #quiz
    - if @mod.graded == true and !@preview and !@tabs
      = render :partial => '/quiz/grade_quiz.html.erb'
    - else
      = render :partial => '/quiz/practice_quiz.html.erb'
