   <h2><%= @mod.module_title%></h2>
    <div class="module">
	 <script language="JavaScript" src="<%=@mod.reader%>" type="text/javascript"></script>
    <noscript>
      You must have Javascript enabled to view the feed.
    </noscript>
    <br/>
    **Links open in a new window**
</div>