%ul#search
  %li.selected
    %a{:href => "#", :rel => "guides"}
      %span Guides
  %li
    %a{:href => "#", :rel => "books"}
      %span Books
  %li.last
    %a{:href => "#", :rel => "library"}
      %span Library
.module
  #guides.tabcontent
    %strong Search OSU Library Guides
    %form#cse-search-box{:action => "http://ica.library.oregonstate.edu/guides/search"}
      %div
        %input{:name => "cx", :type => "hidden", :value => "013309845372334004077:sxkmdms2uq4"}/
        %input{:name => "cof", :type => "hidden", :value => "FORID:11"}/
        %input{:name => "ie", :type => "hidden", :value => "UTF-8"}/
        %input{:name => "q", :size => "23", :type => "text"}/
        %input{:name => "sa", :type => "submit", :value => "Go"}/
    %script{:src => "http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en", :type => "text/javascript"}
  #books.tabcontent
    %strong Search Books, Articles, Journals
    %form{:action => "http://search.library.oregonstate.edu/record/retrieve", :method => "post"}
      %label{:for => "lf", :title => "Search popular library resources for books and articles"}
        %input#lf{:accesskey => "s", :maxlength => "256", :name => "query[string]", :onfocus => "if(value=='LibraryFind Search'){value=''};", :size => "23", :type => "text", :value => "LibraryFind Search"}/
      %input{:type => "submit", :value => "Go"}/
  #library.tabcontent
    %strong Search OSU Libraries Website
    %form{:action => "http://search.oregonstate.edu/web", :method => "get"}
      %label{:for => "query", :title => "Enter your search query here."}
        %input#query{:maxlength => "256", :name => "query", :onfocus => "if(value=='Site Search'){value=''};", :size => "23", :type => "text", :value => "Site Search"}/
      %input{:checked => "checked", :name => "site", :type => "hidden", :value => "osulibrary.oregonstate.edu"}/
      %input#submit{:type => "submit", :value => "Go"}/
