.control-group
  %label.control-label Add People
  %select#users.share{ :multiple => "multiple", :name => "users[]", :class => "input-xlarge" }
    = options_from_collection_for_select(@user_list, 'id', 'name')
  %p.muted
    Select people you want to share with. Press Ctrl+Alt to select multiple users.
