.row
  .span4
    - @mods_left.each do |mod|
      = render :partial => 'shared/view_mod', :locals => { :mod => mod }
  .span4
    - @mods_right.each do |mod|
      = render :partial => 'shared/view_mod', :locals => { :mod => mod }
