%h2= h @mod.module_title
.module
  - unless @mod.info.blank?
    = @mod.info
  %ul.undeco
    - @mod.uploadables.each do |uploadable|
    - logo, title, link = uploadable.logo
      %li
        %a{:href => uploadable.upload.url(), :title => "Click to download"}= uploadable.upload_link.blank? ? h(uploadable.upload_file_name) : h(uploadable.upload_link)
        %a{:href => link, :title => title}
          %img{:alt => title, :src => logo}/
        - unless uploadable.upload_info.blank?
          %br/
          = h(uploadable.upload_info)
