%fieldset
  #main
    = render :partial => '/module/edit_top'
    #boxes
      .item
        .item2
          #mod
            - unless @preview
              = show_mod(@mod)
            - else
              = render :partial => 'shared/quiz_resource_module',:object => @mod, :preview =>@preview
          .bot
            %div
