.row
  .span2
    = render 'side_bar'

  .span10
    %h1.page-header
      Title &amp; Metadata
    = form_tag(update_tutorial_path(@tutorial), { :multipart => true }) do
      = render 'form'
      = link_to 'Cancel', tutorials_path, class: 'btn btn-cancel'
