<fieldset>
<h3>Edit Modules on <%=h(@page.header_title)%> </h3>	

<%if @page.template == 2%>
   <%=render :partial => 'two_column_page' %> 
<%else%>
    <%=render :partial => 'one_column_page' %> 
<%end%>

 <%=render :partial => 'side_bar'%>
</fieldset>