<fieldset>
<h3>Update <%=h@page.header_title%> Title and Data</h3>
<% form_tag :action => 'update', :id => @page do%>
  <%= render :partial => 'form' %>

<%= submit_tag 'Save Page', :class => "submit"  %>

<%end%>
<p><%= link_to 'Cancel', :action => 'index' %></p>

 </fieldset>
 <%=render :partial => 'side_bar'%>