<div class="modal-header">
  <h3>{{ title }}</h3>
</div>

<div class="modal-body">
  <div class="row">
    <div class="span3">

      <select multiple="multiple"
              ng-model="allItemsModel"
              ng-change="selectFromAll()"
              ng-options="item.name for item in allItems | orderBy: '+name'">
      </select>

    </div>

    <div class="pull-left" style="margin-left: 20px;">
      <div class="btn-group btn-group-vertical">

        <button class="btn icon-arrow-left"
                ng-disabled="! selectedItemSelected"
                ng-click="removeFromSelectedItems()">
        </button>

        <button class="btn icon-arrow-right"
                ng-disabled="! allItemSelected"
                ng-click="moveToSelectedItems()">
        </button>

      </div>
    </div>

    <div class="span3">

      <select multiple="multiple"
              ng-model="selectedItemsModel"
              ng-change="selectFromSelected()"
              ng-options="item.name for item in selectedItems | orderBy:'+name'">
      </select>

    </div>
  </div>
</div>

<div class="modal-footer">
  <button ng-click="addNewItem()" class="btn">
    Add new
  </button>
  <button ng-click="close(selectedItems)" class="btn btn-primary">
    OK
  </button>
  <button ng-click="close(null)" class="btn">
    Cancel
  </button>
</div>
