%fieldset
  %div
    %h3 Sorry, we can't find what you are looking for.
    %p
      %strong
        You may be trying to access something that doesn't exisits, is not for your eyes, or just can't be found.
    %h5 Things to Try
    %ul
      %li
        Refresh your browser
      %li
        Check that the URL is correct.
      %li Go back to where you came from and try again
