%fieldset
  %div
    %h3 Sorry, something went wrong.
    %p
      %strong
        We have been notified of the issue and will work to correct it.
    %h5 Things to Try
    %p
    %ul
      %li
        Refresh your browser.
      %li Click the back button and return to where you came from before this problem.
      %li Try what you were doing again.
