<div class="container">
  <h1 class="text-center"><%= @local.ica_page_title %></h1>
  <hr/>

  <div class="row">
    <div class="span8">
      <%= yield :search_results %>
    </div>

    <div class="span4">
      <%= render :partial => "/shared/right_side" %>
    </div>
  </div>
</div>

<%= yield :search_javascript %>
