<div class="row">
  <div class="span4">
    <%@mods_right.each do |mod|%>
      <%=show_mod(mod)%>
    <%end %>
  </div>

  <div class="span4">
    <%@mods_left.each do |mod|%>
      <%=show_mod(mod)%>
    <%end %>
  </div>
</div>
