- content_for :footer do
  = link_to 'Full version', { :action => 'index', :id => @page }

= render :partial => 'shared/mobile_index', locals => { :header_title => @page.header_title, :resources => @resources }
