<% content_for :extra_browse_tabs do %>
  <li>
    <%= link_to "Archived Course Guides", :action => "archived" %>
  </li>
<% end %>

<% content_for :additional_resources do %>
  <p>
    Didn't find what you were looking for? Try the
    <%= link_to "Archived Course Guides", :action => "archived" %>.
  </p>

  <p>
    Need help with your discipline, topic or format? Try the
    <%= link_to "Subject Research Guides",
                :controller => "ica",
                :action => "published_guides" %>
  </p>
<% end %>

<%= render :partial => "shared/published_pages",
           :locals => { :controller => "ica",
                        :header_title => @local.ica_page_title,
                        :pages => @pages,
                        :subjects => @subjects,
                        :type => "Course" } %>
