- content_for :ada_navigation do
  = link_to 'Go to screenreader version' , { :action => 'mobile_index', :id => @page } , :id => 'alt-version'

= render :partial => "shared/page_index", :locals => { :header_title => @page.header_title, :index => @page, :index_controller => "ica", :index_description => @page.page_description }
