%fieldset
  %h3.form Forgot My Password
  %p
    Please enter your account email address then click on the EMAIL PASSWORD button.
    %br/
    You will receive a new password shortly.&nbsp; Use this new password to access the tool.
  =form_tag :action => 'forgot_password' do
    %label{:for => 'email'} Email
    =text_field 'user', 'email', :size => 54
    %br/
    %br/
    =submit_tag 'Email Password'
  %p
    =link_to 'Cancel', :action => 'login'
  %br/
