%fieldset
  %legend
    Request New Account
  = form_tag :action => 'signup' do
    = render :partial => 'form'
    %br
    = submit_tag 'Request new account', :class => 'btn btn-primary'
    &nbsp;
    = link_to 'Cancel', {}, :action => 'login', :class => 'btn'
