<% unless @guide.tabs.length == 1%>
   <%=render :partial => 'guide/tab_bar' %> 
<%end%>

<%unless @mods%>
   <%=render :partial => 'two_column_tab' %> 
<%else%>
    <%=render :partial => 'one_column_tab' %> 
<%end%>

