%thead
  %tr
    %th= sort_link_helper "Shared?", "shared"
    %th= sort_link_helper "Title", "name"
    %th
    %th= sort_link_helper "Last Update", "date"
    %th= sort_link_helper "Published?", "publish"
