<%= error_messages_for 'mod' %>
<%form_tag({:action => 'update_module', :id => @mod, :type =>@mod.class} , {:multipart => true})  do %>
 <fieldset> 
 <h3>Edit Module in <%= h@guide.guide_name%></h3>
    <%= show_form(@mod.class.to_s)%>
<div id="submit_button">
	<%= submit_tag 'Save Module', :class => "submit" %>  
	<p><%= link_to 'Cancel', :action => 'show_tab', :id => @tab %></p>
</div>
</fieldset> 
<% end %>


 <%=render :partial => 'side_bar'%>