- if flash[:notice]
  = flash[:notice]

.row
  .span12

    = link_to 'Create New Guide', new_guide_path, :class => 'btn'

    %li.guide_pag.pagination
      - if !@all and @guides.total_pages > 1
        = will_paginate @guides, :params => params.merge({:sort=> @sort}).except(:authenticity_token), :page_links => false

.row
  .span12= render "guides_list"
