%fieldset
  %h3
    Create New Guide
  -if flash[:error]
    #error_wrapper
      #list_error
        =flash[:error]
  =form_tag :action => 'new' do
    =render :partial => 'form'
    =submit_tag 'Save Guide', :class => 'submit'
  %p
    =link_to 'Cancel', :action => 'index'
