<div id="main">
	<h1>Internal Guides</h1>
	<div id="main-inner"><div id="content">	
	<a id="skip" name="skip"></a>	
		<div class="item">
			<h2>Browse Internal Guides</h2>
			<div class="module">
				
				<div class="list">
					  <div id="subjects" class="tabcontent" >
					  	 <%@masters.each_with_index do |m, i| %>
											<ul class = 'indent-left '>
											 <% m.pub_guides.each do |guide|%>
										        <%guide_url = url_for :controller => 'srg', :action => 'index', :id => guide%>
										            <li class = 'undeco'>
										            	<%= link_to guide.guide_name, guide_url, :title => "#{h guide.description}" %>
												    </li>
											   <%end%>
											</ul>
							<%end%>
					    </div>
				</div>
			</div>
		<div class="bot"><div></div></div>
	 </div>	
	</div></div> <!-- end content, end main-inner -->
</div> <!-- end main -->

<div id="sidebar-right">
	<%= render :partial => '/shared/right_side'%>
</div> <!-- end sidebar-right -->

<div id="sidebar-left"><div id="sidebar-left-inner">
	<%= render :partial => '/shared/left_side'%>
</div></div> <!-- end sidebar-left-inner, end sidebar-left -->


