- content_for :ada_navigation do
  = link_to 'Go to screenreader version' , { :action => 'mobile_published_guides' } , :id => 'alt-version'

- content_for :additional_resources do
  %p
    Need help with your course assignment? Try the
    = link_to 'Course', course_pages_path
    guides.

= render :partial => 'shared/published_pages', :locals => { :controller => 'srg', :header_title => @local.guide_page_title, :pages => @guides, :subjects => @masters, :type => 'Subject' }
