<% content_for :additional_resources do %>
  <p>
    Need help with your course assignment? Try the
    <%= link_to "Course Guides",
                :controller => "srg",
                :action =>"published_pages" %>
  </p>
<% end %>

<%= render :partial => "shared/published_pages",
           :locals => { :controller => "srg",
                        :header_title => @local.guide_page_title,
                        :pages => @guides,
                        :subjects => @masters,
                        :type => "Subject" } %>
