<% content_for :search_results do %>
  <h2>Browse by Search Results</h2>

  <% unless @local.g_results.blank? %>
    <%= raw @local.g_results %>
  <% end %>

  <p>
    <%= image_tag("icons/back.png", :title => '', :alt => 'back', :border => 0) %>
    Back To: <a href="/subject-guides/">Subject Guides</a> |
    <a href="/course-guides/">Course Guides</a> |
    <a href="/tutorials/">Tutorials</a>
  </p>
<% end %>

<%= render :partial => "shared/published_page_results",
           :locals => { :header_title => "Search Results" } %>
