/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
 */

a[class^="icon-"] {
  color: #333;
}

a[class^="icon-"]:hover {
  color: #08C;
  text-decoration: none;
}

#header {
  padding-top: 15px;
}

.modal.fade.full-screen.in {
    width: 80%;
    height: 95%;
    margin: 0;
    top: 0;
    left: 10%;
}

.modal-body.full-screen-body {
    max-height: 82%;
}
