%table.table.table-striped
  - for user in @owners
    %tr
      %td
        = user.name.html_safe
      %td
        - unless user.id == @tutorial.created_by
          = link_to '', { :action => 'remove_user_from_tutorial', :id => user.id }, :confirm => 'Are you sure you want to remove this user from the editor list?', :method => :post, :class => 'icon-remove'
      %td
        - unless user.id == @tutorial.created_by
          %i.icon-gear
          = set_owner_helper(@tutorial.id, user.id)
        - else
          %i.icon-comment
          Owner
