%fieldset
  %h4 Title &amp; Metadata
  #share
    = form_tag({:action => 'update', :id => @tutorial.id}, {:multipart => true}) do
      = render :partial => 'form'
      = link_to 'Cancel', tutorials_path, class: 'btn btn-cancel'
= render :partial => 'side_bar'
