%fieldset
  %legend Appearance
  %table{:border => "0", :cellpadding => "4", :cellspacing => "0"}
    %tr
      %td.column1
        %label#alignlabel{:for => "align"} Alignment
      %td
        %select#align{:name => "align", :onchange => "ImageDialog.updateStyle('align');ImageDialog.changeAppearance();"}
          %option{:value => ""} -- not set --
          %option{:value => "baseline"} Baseline
          %option{:value => "top"} Top
          %option{:value => "middle"} Middle
          %option{:value => "bottom"} Bottom
          %option{:value => "text-top"} Text top
          %option{:value => "text-bottom"} Text bottom
          %option{:value => "left"} Left
          %option{:value => "right"} Right
    %tr
      %td.column1
        %label#widthlabel{:for => "width"} Dimensions
      %td{:nowrap => "nowrap"}
        %input#width.size{:maxlength => "5", :name => "width", :onchange => "ImageDialog.changeHeight();", :size => "5", :type => "text", :value => ""}/
        x
        %input#height.size{:maxlength => "5", :name => "height", :onchange => "ImageDialog.changeWidth();", :size => "5", :type => "text", :value => ""}/
        px
    %tr
      %td &nbsp;
      %td
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          %tr
            %td
              %input#constrain.checkbox{:name => "constrain", :type => "checkbox"}/
            %td
              %label#constrainlabel{:for => "constrain"} Constrain proportions
    %tr
      %td.column1
        %label#vspacelabel{:for => "vspace"} Vertical space
      %td
        %input#vspace.number{:maxlength => "3", :name => "vspace", :onblur => "ImageDialog.updateStyle('vspace');ImageDialog.changeAppearance();", :onchange => "ImageDialog.updateStyle('vspace');ImageDialog.changeAppearance();", :size => "3", :type => "text", :value => ""}/
    %tr
      %td.column1
        %label#hspacelabel{:for => "hspace"} Horizontal space
      %td
        %input#hspace.number{:maxlength => "3", :name => "hspace", :onblur => "ImageDialog.updateStyle('hspace');ImageDialog.changeAppearance();", :onchange => "ImageDialog.updateStyle('hspace');ImageDialog.changeAppearance();", :size => "3", :type => "text", :value => ""}/
    %tr
      %td.column1
        %label#borderlabel{:for => "border"} Border
      %td
        %input#border.number{:maxlength => "3", :name => "border", :onblur => "ImageDialog.updateStyle('border');ImageDialog.changeAppearance();", :onchange => "ImageDialog.updateStyle('border');ImageDialog.changeAppearance();", :size => "3", :type => "text", :value => ""}/
    %tr
      %td.column1
        %label#stylelabel{:for => "style"} Style
      %td{:colspan => "2"}
        %input#style{:name => "style", :onchange => "ImageDialog.changeAppearance();", :type => "text", :value => ""}/
