#general_panel.panel
  %fieldset
    %legend General
    %table.properties
      %tr
        %td.column1
          %label#srclabel{:for => "src"} Image URL / Path
        %td{:colspan => "2"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
            %tr
              %td
                %input#src.tinymce{:name => "src", :onchange => "ImageDialog.showPreviewImage(this.value);", :type => "text", :value => @path}/
              %td#srcbrowsercontainer &nbsp;
          = tinymce
      %tr
        %td.column1
          %label#altlabel{:for => "alt"} Image Description
        %td{:colspan => "2"}
          %input#alt{:name => "alt", :type => "text", :value => @desc}/
      %tr
        %td.column1
          %label#titlelabel{:for => "title"} Title
        %td{:colspan => "2"}
          %input#title{:name => "title", :type => "text", :value => @title}/
  %fieldset
    %legend Preview
    #prev
  :javascript
    ImageDialog.showPreviewImage("#{@path}"," ");
