<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title> <%=params[:controller].humanize || ""%> : Library &agrave; la Carte Tool</title>
<%= stylesheet_link_tag "tool", "errors", :media => "all" %>
<%= javascript_include_tag :defaults, 'messages' %>

</head>
<body >

<%= render  :partial => "shared/tool_top" %>

<div id="tab_container">
	<ul id="tabs">
	
	
	<li  class = "<%=@mcurrent || "mod_tab"%>"><%= link_to_unless_current "Modules" , :controller => 'module', :action => 'index', :sort => 'name', :list => 'mine' %></li>
	<li  class = "<%=@pcurrent || "page_tab"%>"><%= link_to_unless_current "My Pages" , :controller => 'page', :action => 'index', :sort => 'name'%></li>
	<li  class = "<%=@gcurrent || "quide_tab"%>"><%= link_to_unless_current "My Guides" , :controller => 'guide', :action => 'index', :sort => 'name'%></li>
	<li  class = "<%=@dcurrent || "dashboard_tab"%>"><%= link_to_unless_current "Dashboard" , :controller => 'dashboard', :action => 'index'%></li>
	<% if @user.is_admin%><li  class = "<%=@current || "admin_tab"%>"><%= link_to_unless_current "Admin Tools" , :controller => 'admin', :action => 'tools'%></li><%end%>

</ul>
</div>


<div id="content_full">
	<% if flash[:notice] -%>
	   <div id="error_wrapper">   <div id="notice" ><%= flash[:notice] %></div></div>
	<% end -%>
  	<%= yield :layout %>
</div>

<div id="footer">

</div> 

</div> <!--  end wrapper -->

</body>
</html>
